.header__lang-link {
    width: 30px;
    height: 28px;
    text-decoration: none;
    font-size: 24px;
    margin-left: 18px;
    color: #fff;
}

.header__lang-link_active {
    text-decoration: underline;
}