.lead {
  width: 100%;
  margin: 0 auto 92px;
  justify-content: center;
  align-items: center;
  max-width: 984px;
}

@media (max-width: 1023px) {
  .lead {
    margin: 0 auto 88px;
    max-width: 924px;
  }
}

@media (max-width: 767px) {
  .lead {
    margin: 0 auto 64px;
  }
}
