.place__link {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    text-decoration-line: underline;
    color: #fff;
    align-self: end;
    display: flex;
    flex-direction: column;
}

.place__link:hover {
    opacity: 0.8;
    transition: opacity 0.5s ease;
}

